* {
    margin: 0px;
    padding: 0px;
}

.header {
    height: 50px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
}

.error-messages {
    color: red;
    font-size: 15px;
    margin-left: 30%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.settings-head {
    color: #ff9800;
    /*font-family: "Roboto";*/
    font-size: 13px;
    font-style: bold;
    text-align: center;
}

.logo-style {
    color: white;
    position: absolute;
    font-size: 30px;
    left: 185px;
    /*font-family: 'Roboto';*/
    top: 10px;
    width: 140px;
    height: 50px
}

.user-desc {
    color: #696969;
    height: 60px;
    overflow: hidden;
    font-size: 13px;
    margin-top: 5px;
}

.students-dash {
    margin-top: 20px;
    /*width: 35px;*/
    width: auto;
    height: 35px;
}

.students-dash p {
    color: #3e3e3e;
    font-size: 20px;
    margin-left: 10px;
}

.students-dash img {
    width: 30px;
}

.roundImg {
    width: 49px;
    height: 49px;
    -webkit-border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
    -moz-border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
    border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
    -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    position: absolute;
    top: 43%;
}

@media screen and (max-width: 570px) {
    .logo-style {
        left: 30%;
    }
    .hideShareButtons {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .creation-tool {
        display: none;
    }
    .download-app {
        visibility: visible;
    }
}

.right-arrow {
    float: right;
    padding-top: 5px;
    color: white !important;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid #6200ea;
    border-radius: 50%;
    outline: none;
}

input[type='radio']:hover {
    box-shadow: 0 0 5px 0px #6200ea inset;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type='radio']:checked:before {
    background: #6200ea;
}

input[type='radio'] label {
    padding: 4px 11px;
}

.next-button {
    width: 122px;
    height: 39px;
    margin-left: 700px;
    margin-bottom: 50px;
    color: white;
}

.publish-button {
    width: 175px;
    height: 39px;
    margin-left: 975px;
}

.spacing-concepts {
    height: 80px;
}

.concept-text {
    float: left;
    margin-left: 10px;
}

.spacing {
    height: 40px;
}

.concept-add {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    color: #f37e20;
}

.concept-add-button {
    height: 100%;
    width: 30;
}

.concept-space {
    width: 60%;
    height: 600px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fafbfb;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
    position: fixed;
    overflow-y: scroll;
    top: 80px;
    right: 4%;
    padding-right: 30px;
}

.profile-image-input::-webkit-file-upload-button {
    visibility: hidden;
}

.profile-image-input::before {
    content: 'Select  image';
    display: inline-block;
    outline: none;
    white-space: nowrap;
    width: 122px;
    height: 39px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #ff9800;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    color: white;
    font-size: 15px;
    /*font-family: "Roboto";*/
    background-color: #ff9800;
    padding-left: 15px;
    padding-top: 8px;
    margin-top: 30px;
    margin-left: 70px;
}

.edit-course-image::-webkit-file-upload-button {
    visibility: hidden;
}

.edit-course-image::before {
    content: 'Change banner image';
    display: inline-block;
    outline: none;
    white-space: nowrap;
    width: 170px;
    height: 39px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #ff9800;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    color: white;
    font-size: 15px;
    /*font-family: "Roboto";*/
    background-color: #ff9800;
    padding-left: 15px;
    padding-top: 8px;
    margin-top: 30px;
    margin-left: 70px;
}

.concept-bar {
    width: 90%;
    height: 42px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #d3d3d3;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    margin-top: 6%;
}

.material-icons.md-48 {
    font-size: 36px;
}

.material-icons {
    color: #f37e20;
}

.object-icons {
    margin-left: 7%;
    margin-bottom: 5px;
}

. .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
    box-shadow: none;
    border: none;
    transform: none;
    -webkit-transform: none;
}

.tooltipdemoBasicUsage .left {
    top: 70px !important;
    left: 56px !important;
}

.tooltipdemoBasicUsage .right {
    top: 70px !important;
    right: 56px !important;
}

.concept-adder {
    margin-left: 10px;
}

.object-title {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    color: #3e3e3e;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
}

.object-title-title {
    font-family: "Roboto";
    color: #3e3e3e;
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
    width: 90%;
}

.object-contents {
    float: left;
    margin-left: 13%;
    margin-top: 3%;
    max-width: 90%;
    margin-bottom: 20px;
}

.object-description {
    font-family: "Roboto";
    color: #3e3e3e;
    width: 100%;
    display: block;
}

.image-object {
    position: relative;
    bottom: 0px;
}

.test {
    float: left;
}

.object-contents-image {
    float: left;
    margin-top: 30px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Select an image';
    display: inline-block;
    outline: none;
    white-space: nowrap;
    width: 122px;
    height: 39px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #ff9800;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    color: white;
    font-size: 15px;
    font-family: "Roboto";
    background-color: #ff9800;
    padding-left: 8px;
    padding-top: 7px;
    margin-top: 30px;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input {
    margin-left: 40%;
    margin-top: 10px;
}

.object-image {
    margin-left: 10%;
}

.add-image-button {
    float: right;
    margin-top: 0px;
}

#bottom {
    float: right;
    margin-top: 300px;
}

.object-image-image {
    min-width: 87.5%;
    max-width: 87.5%;
    min-height: 100px;
}

.card-profile {
    height: 295px;
}

.card-image {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.delete-concept {
    float: right;
    height: 5px;
}

.cross {
    margin-top: 5px;
}

.edit-concept {
    right: 130px;
    position: absolute;
}

.edit {
    margin-top: 3px;
}

.object-input-title {
    position: absolute;
    width: 500px;
}

.students {
    width: 35px;
    height: 35px;
    display: inline;
    position: absolute;
    left: 50px;
}

.price {
    width: 20px;
    height: 20px;
    display: inline;
    position: absolute;
    left: 150px;
}

.price p {
    color: #3e3e3e;
    font-family: "Roboto";
    font-size: 20px;
    position: absolute;
    bottom: -18px;
    left: 25px;
}

.card-info {
    position: relative;
    top: 260px;
    left: -12.5px;
}

.card-info-dash {
    position: relative;
    top: 260px;
    left: -12.5px;
}

.students p {
    color: #3e3e3e;
    /*font-family: "Roboto";*/
    font-size: 20px;
    display: inline/* position: absolute;
  bottom: -5px;
  left: 50px;*/
}

.mentor-name {
    color: #ff9800;
    font-size: 13px;
    /* position: absolute;
  bottom: 55px;
  left: 18px;*/
}

.header-search__input {
    display: block;
    padding: 8px 8px 8px 50px;
    box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    width: 15%;
    background: #ffe0b2;
    height: 36px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    border-radius: 3px;
    color: #727272;
}

.people-image {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
    -moz-border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
    border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
    -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    float: right;
    margin-right: 30%;
}

@media screen and (max-width: 520px) {
    .people-image {
        margin-left: 25%;
    }
}

.people-name {
    float: left;
    margin-left: 15%
}

@media screen and (max-width: 1200px) {
    .students {
        width: 25px;
        height: 25px;
        display: inline;
        position: absolute;
        left: 50px;
        bottom: -25px;
    }
    /* .students-dash {
    bottom: -25px;
  }*/
    .price {
        width: 15px;
        height: 15px;
        display: inline;
        position: absolute;
        left: 150px;
    }
    .price p {
        color: #3e3e3e;
        font-family: "Roboto";
        font-size: 20px;
        position: absolute;
        bottom: -20px;
        left: 25px;
    }
    .card-info {
        position: relative;
        top: 270px;
        left: -38.5px;
    }
    .students p {
        color: #3e3e3e;
        font-family: "Roboto";
        font-size: 20px;
        position: absolute;
        bottom: -10px;
        left: 40px;
    }
    .mentor-name {
        color: #3e3e3e;
        font-size: 13px;
        /* position: absolute;
    top: 170px;
    left: 5px;*/
    }
}

@media screen and (max-width: 990px) {
    .students {
        width: 25px;
        height: 25px;
        display: inline;
        position: absolute;
        left: 50px;
    }
    .price {
        width: 15px;
        height: 15px;
        display: inline;
        position: absolute;
        left: 150px;
    }
    .price p {
        color: #3e3e3e;
        font-family: "Roboto";
        font-size: 20px;
        position: absolute;
        bottom: -20px;
        left: 25px;
    }
    .card-info {
        position: relative;
        top: 270px;
        left: -38.5px;
    }
    .students p {
        color: #3e3e3e;
        font-family: "Roboto";
        font-size: 20px;
        position: absolute;
        bottom: -10px;
        left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .students {
        width: 25px;
        height: 25px;
        display: inline;
        position: absolute;
        left: 50px;
    }
    .price {
        width: 15px;
        height: 15px;
        display: inline;
        position: absolute;
        left: 150px;
    }
    .price p {
        color: #3e3e3e;
        font-family: "Roboto";
        font-size: 20px;
        position: absolute;
        bottom: -20px;
        left: 25px;
    }
    .card-info {
        position: relative;
        top: 270px;
        left: -5.5px;
    }
    .students p {
        color: #3e3e3e;
        font-family: "Roboto";
        font-size: 20px;
        position: absolute;
        bottom: -10px;
        left: 40px;
    }
}

@media screen and (max-width: 630px) {
    .students {
        width: 25px;
        height: 25px;
        display: inline;
        position: absolute;
        left: 50px;
    }
    .price {
        width: 15px;
        height: 15px;
        display: inline;
        position: absolute;
        left: 150px;
    }
    .price p {
        color: #3e3e3e;
        font-family: "Roboto";
        font-size: 20px;
        position: absolute;
        bottom: -20px;
        left: 25px;
    }
    .card-info {
        position: relative;
        top: 270px;
        left: -5.5px;
    }
    .students p {
        color: #3e3e3e;
        font-family: "Roboto";
        font-size: 20px;
        position: absolute;
        bottom: -10px;
        left: 40px;
    }
}

@media screen and (max-width: 540px) {
    .students {
        width: 25px;
        height: 25px;
        display: inline;
        position: absolute;
        left: 50px;
    }
    .price {
        width: 15px;
        height: 15px;
        display: inline;
        position: absolute;
        left: 150px;
    }
    .price p {
        color: #3e3e3e;
        font-family: "Roboto";
        font-size: 20px;
        position: absolute;
        bottom: -20px;
        left: 25px;
    }
    .card-info {
        position: relative;
        top: 270px;
        left: -5.5px;
    }
    .students p {
        color: #3e3e3e;
        font-family: "Roboto";
        font-size: 20px;
        position: absolute;
        bottom: -10px;
        left: 40px;
    }
}

.explore-title {
    font-size: 30px;
    text-align: center;
    font-family: "Roboto";
    color: #3e3e3e;
}

.explore-roundImg {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    text-align: center;
    margin-left: 43%;
}

.explore-desc {
    font-size: 17px;
    font-family: "Roboto";
    color: #696969;
    text-align: left;
    width: 100%;
}

.explore-tag {
    text-align: center;
    color: #f37e20;
}

@media screen and (max-width: 570px) {
    .explore-title {
        font-size: 20px;
        text-align: center;
        font-family: "Roboto";
        color: #3e3e3e;
    }
    .explore-roundImg {
        width: 70px;
        height: 70px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
        -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        text-align: center;
        margin-left: 40%;
    }
    .explore-desc {
        font-size: 17px;
        font-family: "Roboto";
        color: #696969;
        text-align: left;
        width: 100%;
    }
    .explore-tag {
        text-align: center;
        color: #f37e20;
    }
}

.close-dialog {
    width: 100%;
    height: 20px;
    background-color: #000;
    top: 0px;
    position: relative;
    left: 0px;
    z-index: 3;
    opacity: 0.5;
}

.carousel-arrow {
    height: 50px;
    width: 30px;
    color: #f37e20;
}

.info-dialog {
    width: 100%;
    height: 40px;
    background-color: #000;
    top: -5px;
    position: relative;
    left: 0px;
    z-index: 3;
    opacity: 0.5;
}

.slide-name {
    width: 100%;
    z-index: 60;
}

.slide-name > p {
    background-color: #e3e3e3;
    height: 30px;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    color: #3e3e3e;
}

.dash-dialog {
    height: 100px !important;
    width: 280px !important;
    color: #3e3e3e;
    font-family: "Roboto";
    font-size: 18px;
}

.enroll-button {
    width: 212px;
    height: 39px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f37e20;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.description {
    border-bottom: 5px solid orange;
    margin-right: 30px;
}

.mentor {
    border-bottom: 5px solid orange;
    margin-right: 30px;
}

.concepts {
    border-bottom: 5px solid orange;
}

.explore-concept-card {
    text-align: center;
    width: 320px;
    height: 45px;
    background-color: #d2d2d2 !important;
    color: #787878;
}

.mentor-desc {
    text-align: center;
    width: 400px;
    font-family: "Roboto";
    font-size: 18px;
    margin-left: 20%;
    color: #b8b8b8;
}

.jumbotron {
    width: 100%;
    background-image: url('../images/profile.png');
    min-height: 480px;
    background-size: 100%;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.profile-roundImg {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    border: 2px solid white;
    padding: 0px;
}

.profile-mentor {
    position: absolute;
    color: white;
    top: 160px;
    left: 265px;
    font-family: "Roboto";
    font-size: 25px;
}

.mentor-desc {
    text-align: center;
    font-size: 15px;
}

.user-description {
    color: white;
    font-size: 20px;
    font-family: "Roboto";
    position: absolute;
    top: 200px;
    left: 550px;
}

.course-enroll {
    color: white;
    font-family: "Roboto";
    position: absolute;
    font-size: 25px;
    top: 250px;
    left: 400px;
}

.course-enrolled {
    position: absolute;
    top: 30px;
    left: 80px;
    font-style: bold;
}

.dash-bar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: lightgrey;
    bottom: 0px;
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    left: 0px;
}

.dash-add {
    height: 80px !important;
    width: 80px !important;
    position: fixed;
    left: 85%;
}

.add-icon {
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

.dash-add:not([disabled]):hover {
    background-color: #f37e20;
}

.card-info-dash {
    position: relative;
    top: 90px;
    left: 85.5px;
}

.card-info-dash p {
    color: #3e3e3e;
    font-family: "Roboto";
    font-size: 15px;
    position: absolute;
    bottom: -110px;
    left: 65px;
}

.add-icon {
    color: white;
    margin-top: 15px;
}

.object-image-preview {
    width: 96%;
    margin-left: 5px;
    margin-top: 10px;
}

.preview-desc {
    width: 96%;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 11px;
}

.object-add {
    height: 70px;
    width: 70px;
}

.object-add-item {
    height: 60px;
    width: 60px;
    margin-top: 15px;
}

.object-add {
    position: fixed;
    bottom: 30px;
    right: 200px;
}

.object-item-add {
    position: fixed;
    bottom: 2%;
    right: 5.5%;
}

ul {
    list-style-type: none;
}

.object-item {
    margin-top: 18px;
}

.object-hover {
    width: 100%;
    height: 30px;
    background-color: black;
    opacity: 0.4;
    display: none;
    position: absolute;
    left: 0px;
}


/*.object-card:hover .object-hover {
  display: block;
}
*/

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.side-list {
    height: 100%;
}

.nav-side {
    height: 100%;
    background-color: white;
    position: fixed;
    overflow-y: scroll;
    top: 65px;
}

.circle-pointer {
    width: 18px;
    height: 18px;
    -webkit-border-radius: 12px 13px 13px 12px/12px;
    -moz-border-radius: 12px 13px 13px 12px/12px;
    border-radius: 12px 13px 13px 12px/12px;
    background-color: #f37e20;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    border: solid 8px #f37e20;
    float: left;
    margin-top: 7px;
    margin-left: 0px;
}

.circle-joiner {
    width: 0.001px;
    height: 35px;
    background-color: #f37e20;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    border: solid 8px #f37e20;
    position: absolute;
    top: 0px;
}

.selected {
    color: #6200ea;
    background-color: grey;
}

.add-concept {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 0%;
    left: 2%;
}

.add {
    color: white;
    margin-top: 17px;
}

.concept-add-card {
    height: 50px;
    width: 110%;
    float: left;
    margin: 0px;
}

.lower-spacing {
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 0px;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.object-buttons {
    position: absolute;
    right: 0px;
    z-index: 1;
}

.mobile-header {
    position: absolute;
    background-color: #ff9800;
    height: 40px;
    width: 100%;
    left: 0px;
    top: 5px;
}

.circle-pointer-mobile {
    width: 3px;
    height: 3px;
    -webkit-border-radius: 12px 13px 13px 12px/12px;
    -moz-border-radius: 12px 13px 13px 12px/12px;
    border-radius: 12px 13px 13px 12px/12px;
    background-color: #ff9800;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    border: solid 8px #ff9800;
    float: left;
    margin-top: 7px;
    margin-left: 0px;
}

.mobile-top-spacing {
    width: 70px;
    height: 70px;
}

.object-item-prev {
    color: white;
    margin-top: 18px;
}

.preview-desc {
    max-width: 100%;
    font-size: 13px;
}

.read-more-small {
    display: none;
    position: absolute;
    top: 470px;
    color: white;
    left: 30%;
}

.object-card-preview {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fafbfb;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
    min-height: 100px;
    margin-top: 15px;
    width: 95%;
    padding: 7px;
    margin-left: 10px;
}

.object-title-preview {
    font-family: "Roboto";
    color: #212121;
    text-align: left;
    font-size: 14px;
    font-style: bold;
    margin-left: 20px;
}

.link-preview {
    width: 70px;
    height: 100px;
    font-size: 10px;
    display: inline-block;
}

.tester {
    width: 100px;
    height: 500px;
    background-color: red;
}

a {
    display: inline-block;
}

.preview-back {
    color: white;
}

.teacher-name {
    color: white;
}

.teacher-info {
    color: white;
    font-size: 17px;
}

.teacher-tag {
    padding: 5px;
    border: 2px solid white;
    border-radius: 25px;
    min-height: 30px;
    margin-top: 35px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.teacher-desc {
    color: white;
    margin-top: 15px;
    font-size: 17px;
    height: 62px;
    overflow: hidden;
}

.show {
    overflow: visible;
    height: auto;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
}

.mode-edit {
    margin-top: 6px;
}

.image-edit {
    position: absolute;
    top: 123px;
    left: 15px;
    color: white;
}

@media screen and (max-width: 570px) {
    .edit-profile {
        position: absolute;
    }
    .profile-roundImg {
        width: 80px;
        height: 80px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
        -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
        border: 1px solid white;
        padding: 8px;
        position: absolute;
        margin-left: 32%;
    }
    .teacher-name {
        color: white;
        position: absolute;
        width: 90%;
        top: 60px;
        text-align: center;
        font-size: 25px;
    }
    .teacher-info {
        width: 90%;
        text-align: center;
        top: 120px;
        font-size: 13px;
    }
    .teacher-tag {
        position: absolute;
        text-align: center;
        top: 190px;
        left: -20px;
        font-size: 15px;
    }
    .hide_edit {
        display: none;
    }
    .teacher-desc {
        position: absolute;
        top: 200px;
        font-size: 13px;
        width: 90%;
    }
    .jumbotron {
        min-height: 600px;
        background-image: url('../images/profile-mobile.png');
    }
    .read-more {
        display: none;
    }
    .read-less {
        display: none;
    }
    .read-more-small {
        display: block;
        position: absolute;
        top: 380px;
        color: white;
        left: 30%;
    }
    .read-less-small {
        display: block;
        position: absolute;
        top: 470px;
        color: white;
        left: 30%;
    }
    .edit-profile {}
}

.search {
    height: 100%;
    margin-top: 5px;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
    background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
}

@media screen and (max-width: 570px) {
    .md-tab {
        padding: 12px 10px;
        font-size: 12px;
    }
}

.people-space {
    height: 50px;
    width: 90%;
    margin-left: 20px;
}

.people {
    overflow-x: hidden;
    text-align: center;
}

.hamburger {
    width: 50px;
    color: black;
    margin-top: 15px;
    position: absolute;
    margin-left: 30px;
}

.dehaze {
    font-size: 24px;
}

.logo-mobile {
    margin-left: 150px;
    margin-top: 10px;
}

.sidenav-marketplace {
    /*position: absolute;
  width: 100%;
  margin-top: 20px;
  margin-left: 0px;*/
    height: 50px;
}

.sidenav-marketplace img {
    /*position: absolute;*/
    /*left: 25px;*/
    /*bottom: 15px;*/
    /*width: 20px;*/
}

.sidenav-marketplace p {
    /*position: absolute;*/
    font-size: 15px;
    color: #212121;
    /* top: 7px;
  left: 70px;*/
}

.edit-button {
    z-index: 1 !important;
}

.sidenav-dashboard {
    position: absolute;
    width: 100%;
    margin-top: 80px;
    margin-left: 0px;
    height: 50px;
}

.sidenav-dashboard img {
    position: absolute;
    left: 25px;
    bottom: 15px;
    width: 20px;
}

.sidenav-dashboard p {
    position: absolute;
    font-size: 15px;
    color: #212121;
    top: 7px;
    left: 70px;
}

.sidenav-feedback {
    position: absolute;
    width: 100%;
    margin-top: 140px;
    margin-left: 0px;
    height: 50px;
}

.sidenav-feedback img {
    position: absolute;
    left: 25px;
    bottom: 15px;
    width: 20px;
}

.sidenav-feedback p {
    position: absolute;
    font-size: 15px;
    color: #212121;
    top: 7px;
    left: 70px;
}

.sidenav-logout {
    /*position: absolute;*/
    width: 100%;
    /*bottom: 10px;*/
    /*margin-left: 0px;*/
    /*height: 50px;*/
}

.sidenav-logout img {
    /*position: absolute;*/
    /*left: 25px;*/
    /*bottom: 15px;*/
    width: 20px;
}

.restrict-content {
    font-size: 20px;
    color: #212121;
    padding-top: 20px;
    padding-bottom: 20px;
}

.android-icon {
    height: 40px;
    padding: 5px;
}

.download-app {
    width: 90%;
    left: 9%;
    bottom: 0px;
}

.close-button {
    width: 80%;
    left: 9%;
}

.prep-message {
    font-size: 20px;
    font-family: "Roboto";
    color: #212121;
    padding: 20px;
    text-align: center;
}

.prep-loader {
    left: 45%;
}

.modal-contents {
    font-family: "Roboto";
    font-size: 20px;
    color: #212121;
}


/*css by himanshu*/

.no-margin {
    margin: 0;
}

.top-margin {
    margin-top: 64px;
}

.card {
    height: 345px;
    width: 100%;
    cursor: pointer;
}

.loginOrSignup md-input-container {
    padding-bottom: 0px;
}
