body,
html {
    background: #e8e8e8 !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
    background: rgba(0, 0, 0, 0.7);
}

.md-dialog-container{
    position: fixed;
    top: 100px;
}
.white {
    color: #FFFFFF;
}

.hand {
    cursor: pointer;
}

.section-background {
    background-color: #e8e8e8;
}

.center-icon {
    display: block;
}

.text-center {
    text-align: center;
}

.spacing-create {
    height: 50px;
}

.invisible-button {
    background: none;
    border: none;
}

md-card md-card-title {
    padding: 24px 16px 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

md-card .md-headline {
    font-size: 18px;
}

md-button,
button {
    outline: none !important;
}

.noData {
    color: #727272;
    font-size: 18px;
    text-align: center;
}


/*loading bar*/

#loading-bar .bar {
    background: #7C4DFF;
    height: 4px;
}

#loading-bar-spinner .spinner-icon {
    width: 18px;
    height: 18px;
    border: solid 4px transparent;
    border-top-color: #7C4DFF;
    border-left-color: #7C4DFF;
    border-radius: 10px;
}

.big-fab {
    height: 65px !important;
    width: 65px !important;
}

.wordwrap {
    /* wrap long text and urls */
    white-space: pre;
    /* CSS 2.0 */
    white-space: pre-wrap;
    /* CSS 2.1 */
    white-space: pre-line;
    /* CSS 3.0 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: -moz-pre-wrap;
    /* Mozilla */
    word-wrap: break-word;
    /* IE 5+ */
}

i.md-primary {
    color: #FF9800;
}


/*enable scroll outside dialog*/

/*.md-dialog-custom {
    max-height: none;
}

.md-dialog-container {
    overflow-y: auto;
}*/


/*scroll outside end*/


/*navbar*/

.userimage {
    width: 48px;
    height: 48px;
    cursor: pointer;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    border: 0px;
    outline: none;
}

.userimage:hover {
    -webkit-border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
    -moz-border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
    border-radius: 29px 30px 30px 29px/29px 29px 30px 30px;
    -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .4);
    outline: none;
}

.logo {
    margin-top: 0px;
    width: 50px;
    height: 50px;
}


/*navbar end*/


/*sidebar*/

md-sidenav {
    position: fixed !important;
}

md-backdrop {
    position: fixed;
}

.userimage-nav {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    margin-bottom: 35px;
}

.sidenav-img-background {
    background: grey;
    height: 400px;
    padding-top: 40px;
}

.sidenav-username {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
}

.sidenav-userhandle {
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 10px;
}

.sidenav-buttons {
    margin-top: 20px;
}

.sidenav-buttons .md-button {
    position: relative;
    height: 40px;
}

.sidenav-buttons .md-button img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    margin: auto;
    height: 30px;
}

.sidenav-buttons .md-button span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    margin: auto;
    height: 30px;
    text-transform: capitalize;
}


/*sidebar end*/


/*add concepts */

.access-code {
    font-size: 20px;
    color: #212121;
    text-align: center;
    padding: 30px;
}

.card-actions .zmdi {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px !important;
}

.conceptHeadline {
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
}

.edit-card-image > input {
    display: none
}

.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #000000;
}

.edit-card-image:hover .image-overlay-content {
    opacity: 0.5
}

.stickyHeading {
    position: fixed;
    width: 100%;
    background: #e8e8e8;
    z-index: 1;
    padding-top: 10px;
}

#fileInput {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
