<section class="section-background" ng-cloak>
    <div class="container">
        <div class="spacing-create"></div>
        <div class="md-padding" layout="row">
            <div flex="20"></div>
            <div flex="60">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title">Create Interview</h2>
                    </div>
                </md-toolbar>
                <md-content class="md-padding input-area" layout="row" layout-align="center">
                    <form name="createInterview.eventForm" flex="60">
                        <div>
                            <md-autocomplete flex md-input-name="vacancyName" md-input-minlength="0" md-input-maxlength="18" md-selected-item="createInterview.data.vacancy" md-search-text="createInterview.searchVacancy" md-items="item in createInterview.vacancies | filter:createInterview.searchVacancy" md-item-text="item.jobTitle" md-floating-label="Vacancy">
                                <md-item-template>
                                    <span class="item-title">
                                        <span md-highlight-text="createInterview.searchVacancy"> {{item.company}} </span>
                                    </span>
                                    <span class="item-metadata">
                                        <span class="item-metastat">
                                            <strong>{{item.location_name}}</strong>
                                         </span>
                                          <span class="item-metastat">
                                            <strong>{{item.jobTitle}}</strong>
                                         </span>
                                       
                                    </span>
                                </md-item-template>
                            </md-autocomplete>
                           
                        </div>
                        <div>
                             <md-autocomplete flex md-input-name="jobseekerName" md-input-minlength="0" md-input-maxlength="18" md-selected-item="createInterview.data.jobseeker" md-search-text="createInterview.searchJobseeker" md-items="item in createInterview.jobseekers | filter:createInterview.searchJobseeker" md-item-text="item.name" md-floating-label="Jobseeker">
                                <md-item-template>
                                     <span class="item-title">
                                        <span md-highlight-text="createInterview.searchJobseeker"> {{item.name}} </span>
                                    </span>
                                    <span class="item-metadata">
                                        <span class="item-metastat">
                                            <strong>{{item.mobile}}</strong>
                                         </span>
                                       
                                    </span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Interview Time</label>
                                <md-select ng-model="createInterview.data.interviewTime">
                                    <md-option value="{{time}}" ng-repeat="time in createInterview.data.vacancy.interview_dates track by $index">
                                        {{time | date:'dd-MM-yyyy'}}
                                    </md-option>
                                </md-select>


                                <!-- <input mdc-datetime-picker date="true" time="false" type="text" placeholder="Choose Date" ng-model="createInterview.data.interviewTime" min-date="minDate" max-date="maxDate"> -->
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="end">
                            <md-button class="md-raised md-primary" on-click="createInterview.create(callbacks)" click-and-disable> Create </md-button>
                        </div>
                        <form>
                </md-content>
            </div>
        </div>
</section>
