<section class="section-background" ng-cloak>
    <div class="container">
        <div class="spacing-create"></div>
        <div class="md-padding" layout="row">
            <div flex="20"></div>
            <div flex="60">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title">Edit Interview</h2>
                    </div>
                </md-toolbar>
                <md-content class="md-padding input-area" layout="row" layout-align="center">
                    <form name="editInterview.eventForm">
                        <div layout="row">
                            <md-input-container>
                                <label>Joining Date</label>
                                <input mdc-datetime-picker date="true" time="false" type="text" placeholder="Choose Date" ng-model="editInterview.data.joiningDate">
                            </md-input-container>
                            <md-input-container>
                                <label>Leaving Date</label>
                                <input mdc-datetime-picker date="true" time="false" type="text" placeholder="Choose Date" ng-model="editInterview.data.leavingDate">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Status</label>
                                <md-select ng-model="editInterview.data.status">
                                    <md-option value="{{status}}" ng-repeat="status in editInterview.allDropdowns.interviewStatus">
                                        {{status}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Interview Time</label>

                                <md-select ng-model="editInterview.data.interviewTime">
                                    <md-option value="{{time}}" ng-repeat="time in editInterview.data.vacancy.interview_dates track by $index">
                                        {{time | date:'dd-MM-yyyy'}}
                                    </md-option>
                                </md-select><!-- 
                                <input mdc-datetime-picker date="true" time="false" type="text" placeholder="Choose Date" ng-model="editInterview.data.interviewTime" min-date="minDate" max-date="maxDate"> -->
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="end">
                            <md-button class="md-raised md-primary" on-click="editInterview.edit(callbacks)" click-and-disable> Save </md-button>
                        </div>
                        <form>
                </md-content>
            </div>
        </div>
</section>
