<section class="section-background" ng-cloak>
    <div class="container">
        <div class="spacing-create"></div>
        <div class="md-padding" layout="row">
            <div flex="100">
                <md-card>
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <h2 class="md-title">Interviews</h2>
                            <div flex></div>
                            <i class="zmdi zmdi-plus zmdi-hc-2x" ng-click="interviews.goToCreateInterview()"></i>
                        </div>
                    </md-toolbar>
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-numeric><span>S.No.</span></th>
                                    <th md-column><span>Vacancy</span></th>
                                    <th md-column><span>Company</span></th>
                                    <th md-column><span>Jobseeker</span></th>
                                    <th md-column><span>Contact Number</span></th>
                                    <th md-column><span>Date</span></th>
                                    <th md-column><span>Status</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="interview in interviews.interviews.data">
                                    <td md-cell>{{(interviews.query.page-1)*interviews.query.limit + $index+1}}</td>
                                    <td md-cell>{{interview.vacancy.jobTitle}}</td>
                                    <td md-cell>{{interview.vacancy.company}}</td>
                                    <td md-cell>{{interview.jobseeker.name}}</td>
                                    <td md-cell>{{interview.jobseeker.mobile}}</td>
                                    <td md-cell>{{interview.interviewTime | date:'dd-MM-yyyy HH:mm'}}</td>
                                    <td md-cell>{{interview.status}}</td>
                                    <td md-cell><i class="zmdi zmdi-edit" ng-click="interviews.goToEditInterview($event,interview.id)"></i> 
                                   <!--  <i class="zmdi zmdi-delete" ng-click="interviews.deleteInterview($event,interview.id,$index)"></i>
 -->                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="interviews.query.limit" md-page="interviews.query.page" md-total="{{interviews.interviews.total_count}}" md-on-paginate="interviews.getInterviews" md-page-select></md-table-pagination>
                </md-card>
            </div>
        </div>
</section>
