<section class="section-background" ng-cloak>
    <div class="container">
        <div class="spacing-create"></div>
        <div class="md-padding" layout="row">
            <div flex="100">
                <md-card>
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <h2 class="md-title">Leaders</h2>
                            <div flex></div>
                            <i class="zmdi zmdi-plus zmdi-hc-2x" ng-click="leaders.goToCreateLeader()"></i>
                        </div>
                    </md-toolbar>
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-numeric><span>S.No.</span></th>
                                    <th md-column><span>Name</span></th>
                                    <th md-column><span>Mobile</span></th>
                                    <th md-column><span>Verified</span></th>
                                    <th md-column><span>Location</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="leader in leaders.leaders.data" ng-click="leaders.showDetails(leader)">
                                    <td md-cell>{{(leaders.query.page-1)*leaders.query.limit + $index+1}}</td>
                                    <td md-cell>{{leader.name}}</td>
                                    <td md-cell>{{leader.mobile}}</td>
                                    <td md-cell>{{leader.isVerified | true_false}}</td>
                                    <td md-cell>{{leader.location_name}}</td>
                                    <td md-cell><i class="zmdi zmdi-edit" ng-click="leaders.goToEditLeader($event,leader.id)"></i> 
                                    <!-- <i class="zmdi zmdi-delete" ng-click="leaders.deleteLeader($event,leader.id,$index)"></i> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="leaders.query.limit" md-page="leaders.query.page" md-total="{{leaders.leaders.total_count}}" md-on-paginate="leaders.getLeaders" md-page-select></md-table-pagination>
                </md-card>
            </div>
        </div>
</section>
