<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{leader.name}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" ng-model="leader.name" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Mobile</label>
                        <input type="text" ng-model="leader.mobile" disabled>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Location Name</label>
                        <input type="text" ng-model="leader.location_name" disabled>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Lat</label>
                        <input type="text" ng-model="leader.location.lat" disabled name="lat">
                    </md-input-container>
                    <md-input-container>
                        <label>Long</label>
                        <input type="text" ng-model="leader.location.long" disabled name="long">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Mobile Verified</label>
                        <input type="text" placeholder="{{leader.mobileVerified | true_false}}" disabled>
                    </md-input-container>
                </div>
                
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
