<div layout="row" layout-align="center center" style="height:90vh" ng-controller="loginCtrl as user">
    <div flex="50">
        <md-content class="loginOrSignup" ng-cloak>
            <md-tabs md-dynamic-height md-border-bottom class="md-primary">
                <md-tab>
                    <md-tab-label class="white">Login</md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <form name="user.loginForm">
                                <md-input-container>
                                    <label>Mobile Number</label>
                                    <input ng-pattern="app.numberRegex" ng-model="user.number" name="number" required>
                                    <div ng-messages="user.loginForm.number.$error" ng-if='user.loginForm.number.$touched'>
                                        <div ng-message="required">Number is required.</div>
                                        <div ng-message="pattern">Number is invalid.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Password</label>
                                    <input type="password" ng-model="user.password" name="password" required>
                                    <div ng-messages="user.loginForm.password.$error" ng-if='user.loginForm.password.$touched'>
                                        <div ng-message="required">OTP is required.</div>
                                    </div>
                                </md-input-container>
                                <div layout="row" layout-align="center center">
                                    <md-button ng-click="user.userLogin()" class="md-raised md-primary" style="color:white;" flex="50" ng-disabled="user.loginForm.$invalid">Submit</md-button>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab>
<!--                 <md-tab>
                    <md-tab-label class="white">Signup</md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <form name="user.signupForm">
                                <md-input-container>
                                    <label>Name</label>
                                    <input type="text" ng-model="user.name" name="name" required>
                                    <div ng-messages="user.signupForm.name.$error" ng-if='user.signupForm.name.$touched'>
                                        <div ng-message="required">Name is required.</div>
                                       
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Mobile Number</label>
                                    <input ng-pattern="app.numberRegex" ng-model="user.number" name="number" required>
                                    <div ng-messages="user.signupForm.number.$error" ng-if='user.signupForm.number.$touched'>
                                        <div ng-message="required">Number is required.</div>
                                        <div ng-message="pattern">Number is invalid.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Password</label>
                                    <input type="password" ng-model="user.password" name="password" required>
                                    <div ng-messages="user.signupForm.password.$error" ng-if='user.signupForm.password.$touched'>
                                        <div ng-message="required">Password is required.</div>
                                    </div>
                                </md-input-container>
                                <div layout="row" layout-align="center center">
                                    <md-button ng-click="user.userSignup()" class="md-raised md-primary" style="color:white;" flex="50" ng-disabled="user.signupForm.$invalid">Submit</md-button>
                                </div>
                            </form>
                        </md-content>
                    </md-tab-body>
                </md-tab> -->
            </md-tabs>
        </md-content>
    </div>
</div>
