<section class="section-background" ng-cloak>
    <div class="container">
        <div class="spacing-create"></div>
        <div class="md-padding" layout="row">
            <div flex="100">
                <md-card>
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <h2 class="md-title">Vacancies</h2>
                            <div flex></div>
                            <i class="zmdi zmdi-plus zmdi-hc-2x" ng-click="vacancies.goToCreateVacancy()"></i>
                        </div>
                    </md-toolbar>
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-numeric><span>S.No.</span></th>
                                    <th md-column><span>Job Title</span></th>
                                    <th md-column><span>Compulsory Reqs</span></th>
                                    <th md-column>Company</th>
                                    <th md-column>Location Name</th>
                                    <th md-column>Trade</th>
                                    <th md-column>Education Level</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="vacancy in vacancies.vacancies.data" ng-click="vacancies.showDetails(vacancy)">
                                    <td md-cell>{{(vacancies.query.page-1)*vacancies.query.limit + $index+1}}</td>
                                    <td md-cell>{{vacancy.jobTitle}}</td>
                                    <td md-cell>{{vacancy.compulsoryReqs}}</td>
                                    <td md-cell>{{vacancy.company}}</td>
                                    <td md-cell>{{vacancy.display_location}}</td>
                                    <td md-cell>{{vacancy.trade}}</td>
                                    <td md-cell>{{vacancy.educationLevel}}</td>
                                    <td md-cell><i class="zmdi zmdi-edit" ng-click="vacancies.goToEditVacancy($event,vacancy.id)"></i> 
                                    <!-- <i class="zmdi zmdi-delete" ng-click="vacancies.deleteVacancy($event,vacancy.id,$index)"></i> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="vacancies.query.limit" md-page="vacancies.query.page" md-total="{{vacancies.vacancies.total_count}}" md-on-paginate="vacancies.getVacancies" md-page-select></md-table-pagination>
                </md-card>
            </div>
        </div>
</section>
